:root {
  --color-green: #55c57a;
  --color-green-light: #7ed56f;
  --color-green-dark: #28b485;
  --color-silver: #e4e7ea;
  --color-silver-2: #54667a;
  --color-silver-3: #f1f1f4;
  --color-silver-4: #999;
  --color-white: #fff;
  --color-black: #000;
}

html {
  font-size: 10px;
  font-weight: 400;
}

body {
  font-family: "Poppins", "微软雅黑", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.signup-container {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 100vh;
}

.account-left {
  width: 70%;
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, .9) 50%, transparent 50%), url("../img/account-bgc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.account-text {
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: var(--color-white);
}

.account-right {
  width: 30%;
  position: relative;
}

.form-area {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.group {
  margin-bottom: 1.5rem;
}

.control {
  width: 100%;
  display: block;
  padding: 1.1rem 1rem;
  border-radius: 3px;
  border: 1px solid var(--color-silver);
  transition: all 1s;
}

.control:focus {
  outline: none;
  border: 1px solid var(--color-green-dark);
}

.file {
  display: none;
}

#file-label {
  font-size: 1.4rem;
  display: block;
  width: 100%;
  padding: 1.1rem 1rem;
  border-radius: 3px;
  border: 1px solid var(--color-silver);
  text-align: left;
}

.upload-icon {
  margin-right: 1.5rem;
  font-size: 1.7rem;
  color: var(--color-green-dark);
}

#file-label:hover {
  cursor: pointer;
}

.btn {
  display: block;
  padding: 1.2rem .9rem;
  font-size: 1.5rem;
  border-radius: 3rem;
  text-transform: uppercase;
  border: 0;
  color: var(--color-white);
}

.account-btn {
  width: 100%;
  background: linear-gradient(to right, var(--color-green-light), var(--color-green-dark));
  box-shadow: 0 .8rem .6rem -.6rem rgba(0, 0, 0, 0.5);
}

.account-btn:hover {
  cursor: pointer;
}

.form-heading {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  border-bottom: .1rem solid var(--color-silver);
  padding-bottom: 1.5rem;
  letter-spacing: .2rem;
  text-align: left;
  color: #999;
}

.link {
  display: block;
  color: #999;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: left;
  font-weight: 300;
  padding-top: 1.5rem;
}

/* 聊天部分 */
#nav {
  width: 100%;
  height: 10vh;
  background: linear-gradient(to right, var(--color-green-light), var(--color-green-dark));
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
  position: relative;
}

#sidebar {
  width: 20%;
  height: 90vh;
  background: var(--color-white);
  box-shadow: .8rem 0 .6rem -1rem rgba(0, 0, 0, 0.5);
  position: relative;
}

#sidebar::before {
  position: absolute;
  content: "聊天交友平台";
  width: 100%;
  height: 10vh;
  top: -10vh;
  background: linear-gradient(to right, var(--color-green-light), var(--color-green-dark));
  box-shadow: 3px -2px 5px 0px rgba(0, 0, 0, 0.5);
  line-height: 10vh;
  text-align: center;
  font-size: 2rem;
  color: var(--color-white);
}

.left-ul {
  margin: 3rem 0;
  padding: 0;
}

.left-ul li {
  list-style: none;
}

.left-ul li a {
  text-decoration: none;
  display: block;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--color-silver-2);
  position: relative;
}

.left-ul li a:hover {
  color: var(--color-white);
  background: linear-gradient(to right, var(--color-green-light), var(--color-green-dark));
}

.left-ul li:first-child a:hover {
  background: none;
}

.cool-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all .3s;
}

.left-ul li:hover .cool-hover {
  width: 100%;
}

.profile-img-span {
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.profile-img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  transition: all .3s;
}

.profile-img-span:hover .profile-img {
  transform: scale(1.5);
}

#right-area {
  width: 80%;
}

.messages {
  width: 100%;
  height: 75vh;
  background: rgb(207, 228, 207);
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* 聊天左侧样式 */
.left-message {
  display: flex;
  width: 50%;
}

.sender-img-block {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
}

.online-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--color-green-dark);
  display: block;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.offline-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.2rem;
  height: 1.2rem;
  background-color: red;
  display: block;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.sender-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.left-msg-area {
  margin-left: 1rem;
}

.online-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  background: var(--color-green-dark);
  display: block;
}

.sender-name {
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--color-silver-2);
}

.date-time {
  margin-left: 2rem;
  color: var(--color-silver-4);
}

.common-margin {
  margin-top: 1.5rem;
}

.left-msg {
  padding: 1rem;
  width: auto;
  background: linear-gradient(var(--color-green-light), var(--color-green-dark));
  color: var(--color-white);
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  margin-top: .5rem;
  position: relative;
  font-size: 1.4rem;
}

.left-msg::before {
  position: absolute;
  content: "";
  top: 0;
  left: -.7rem;
  width: 0;
  height: 0;
  border-top: .7rem solid var(--color-green-light);
  border-left: .7rem solid transparent;
}

/* 聊天右侧样式 */
.right-message {
  display: flex;
  justify-content: flex-end;
}

.right-msg-area {
  max-width: 50%;
  width: auto;
}

.right-msg {
  padding: 1rem;
  width: auto;
  background: var(--color-silver-3);
  color: var(--color-black);
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  margin-top: .8rem;
  font-size: 1.4rem;
}

.right-time {
  display: block;
  text-align: right;
}

.chat-form {
  width: 100%;
  height: 10vh;
  border-top: 1px solid var(--color-silver-3);
}

.chat-container {
  display: flex;
}

.form-input {
  width: 50%;
}

.textarea-control {
  width: 100%;
  border: 0;
  padding: 1rem 2rem;
  height: 5rem;
  resize: none;
  margin-left: .3rem;
}

.textarea-control:focus {
  outline: none;
}

.files-upload {
  display: none;
}

#upload-label {
  width: 100%;
  height: 5rem;
  line-height: 5.5rem;
  text-align: center;
  display: block;
}

#upload-label:hover {
  cursor: pointer;
}

.fa-uploads {
  font-size: 1.8rem;
  margin-left: 3rem;
  color: var(--color-silver-4);
}

::-webkit-input-placeholder {
  font-family: "微软雅黑", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.form-section {
  padding: 5rem;
}

.form-grid {
  width: 40%;
}

/* 滚动条 */
.messages::-webkit-scrollbar {
  width: 1rem;
  background-color: var(--color-silver-3);
}

.messages::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1rem;
}

/* 表情 */
.emoji {
  width: 100%;
  height: 5vh;
  /* text-align: center; */
}

.emoji-same {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.emoji-same:hover{
  cursor: pointer;
}

/* 修改密码 */
.form-section {
  padding: 3rem;
}

.form-grid {
  width: 35%;
}

/* 下拉导航 */
.bars {
  display: none;
}

.custom-bars {
  float: right;
  font-size: 1.8rem;
  color: var(--color-white);
  position: absolute;
  top: 33%;
  right: 3rem;
}

.custom-bars:hover {
  cursor: pointer;
}

.error {
  color: red;
  text-align: left;
  font-size: 1.2rem;
  margin-top: 5px;
}

/* 提醒 */
.alert {
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 4px;
  margin-bottom: 1.5rem;
}

.alert-success {
  background-color: var(--color-green);
  color: var(--color-white);
}

/* Media responsive queries

when is WIDTH 765 and lower execute this queries

*/
@media (max-width: 765px) {
  .account-left {
    display: none;
  }

  .account-right {
    width: 100%;
  }

  .chat-container {
    flex-wrap: wrap;
  }

  .bars {
    display: block;
  }

  #sidebar {
    width: 100%;
    display: none;
  }

  #right-area {
    width: 100%;
  }

  #sidebar::before {
    width: 40%;
  }

  .left-message {
    max-width: 100%;
    width: auto;
  }

  .right-msg-area {
    max-width: 90%;
    width: auto;
  }

  .messages {
    height: 70vh;
  }

  ::-webkit-input-placeholder {
    font-family: sans-serif;
    font-size: 1.2rem;
    color: var(--color-black);
  }

  .form-grid {
    width: 100%;
  }
}